$logo-blue: #1b72b8;
$wallpaper-color: #000;
$square-side: 600px;

@font-face {
	font-family: "Good Times";
	src: url("/workspaces/Degal-Frontend/src/good_times.otf");
}

#sponsorPage-wrap {
	font-family: "Good Times";
	background-color: $wallpaper-color;
	text-align: center;
	h1 {
		font-size: 2.5rem;
		font-family: inherit;
		color: white;
		min-width: 375px;
		text-shadow: 0 0 15px lighten($logo-blue, 10%),
			0 0 20px lighten($logo-blue, 12%), 0 0 25px lighten($logo-blue, 15%),
			0 0 30px lighten($logo-blue, 20%), 0 0 35px lighten($logo-blue, 25%),
			0 0 40px lighten($logo-blue, 30%), 0 0 45px lighten($logo-blue, 35%);
	}
	.space {
		min-height: 100px;
	}
	#sponsors-wrap {
		display: flex;
		justify-content: space-around;
		gap: 60px;
		align-items: center;
		.single-sponsor-wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: $square-side;
			height: $square-side;
			border-radius: 12px;
			#macron-sponsor-logo {
				border-radius: inherit;
				height: 300px;
				width: 300px;
			}
			#cosmo3d-sponsor-logo {
				border-radius: inherit;
				height: 300px;
			}
			#infDelBorgo-sponsor-logo {
				border-radius: inherit;
				height: 300px;
				width: 300px;
			}
			.contact-info-wrap {
				display: flex;
				justify-content: space-around;
				border-radius: inherit;
				align-items: center;
				gap: 5px;
				.contact-info-single-logo {
					img {
						border-radius: inherit;
						height: 50px;
						width: 50px;
					}
				}
			}
		}
	}
}
