$logo-blue: #1b72b8;
$wallpaper-color: #000;
$square-side: 600px;

@font-face {
	font-family: "Good Times";
	src: url("good_times.otf");
}

#sponsorPage-wrap {
	font-family: "Good Times";
	background-color: $wallpaper-color;
	text-align: center;
	#sponsors-wrap {
		display: flex;
		justify-content: space-around;
		gap: 60px;
		align-items: center;
		.single-sponsor-wrap {
			width: $square-side;
			height: $square-side;
			border-radius: 12px;
			display: flex;
			justify-content: space-around;
			.sponsor-logo {
				img {
					border-radius: inherit;
					height: 300px; /*si e' incasinato un po ma è giusto DA AGGIUSTARE*/
					width: 300px;
				}
				border-radius: inherit;
			}
			.contact-info-wrap {
				display: flex;
				justify-content: space-around;
				border-radius: inherit;
				align-items: center;
				.contact-info-single-logo {
					border-radius: inherit;
					height: 50px;
					width: 50px;
				}
			}
		}
	}
}
