$logo-blue: #1b72b8;
$div-fill-color: #0f0750;
$h3-color: lighten($logo-blue, 20%);
$h4-color: lighten($logo-blue, 10%);
$p-color: $logo-blue;
$wallpaper-color: #000;
$div-fill-color-over: $p-color;
$h3-color-over: lighten($logo-blue, 40%);
$h4-color-over: $h3-color;
$p-color-over: $h4-color-over;

@font-face {
	font-family: "Good Times";
	src: url("/workspaces/Degal-Frontend/src/good_times.otf");
}

#teamMembersPage-wrap {
	font-family: "Good Times";
	background-color: $wallpaper-color;
	align-items: center;
	display: flex;
	justify-content: space-around; /*Space evenly between the divs*/
	gap: 40px; /*Gap between divs*/
	margin: 20px;
	.space {
		min-height: 850px;
	}
	.single-team-member-andHeader {
		font-family: inherit;
		padding: 10px;
		text-align: center;

		h1 {
			font-size: 2.5rem;
			font-family: inherit;
			color: white;
			min-width: 375px;
			text-shadow: 0 0 15px lighten($logo-blue, 10%),
				0 0 20px lighten($logo-blue, 12%),
				0 0 25px lighten($logo-blue, 15%);
		}

		.TM-cont {
			min-width: 400px;
			min-height: 500px;
			background-color: $div-fill-color;
			border-radius: 10%;
			align-items: center;
			display: flex;
			flex-direction: column;

			.TM-paragraph {
				margin-left: 10px;
				margin-right: 10px;
				color: $p-color;
				font-size: 0.7rem;
				text-align: center;
				font-family: inherit;
			}

			.TM-image-cont {
				width: 290px;
				height: 290px;
				background-color: white;
				border-radius: 50%;
				align-self: center;
				margin-top: 10px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					object-fit: cover;
				}
			}

			h3 {
				color: $h3-color;
				font-family: inherit;
				font-size: 1rem;
			}

			h4 {
				color: $h4-color;
				font-family: inherit;
				font-size: 0.8rem;
			}
		}
	}
	.single-team-member-andHeader:hover {
		.TM-cont {
			transition: 0.5s;
			box-shadow: -10px 10px 5px #1c2836;
			background-color: $div-fill-color-over;

			.TM-paragraph {
				color: $p-color-over;
			}
		}
		h3 {
			color: $h3-color-over;
		}
		h4 {
			color: $h4-color-over;
		}
	}
}
